@VeryDarkGrey: #20212C;
@DarkGrey: #2B2C37;
@MainPurple: #635fc7;
@MediumGrey: #828FA3;
@Red: #EA5555;
@LightGrey: #F4F7FD;
@LinesDark: #3E3F4E;
@LinesLight: #E4EBFA;
@MainPurpleHover: #A8A4FF;
@RedHover: #FF9898;




* {
    padding: 0;
    margin: 0;
    font-family: 'Plus Jakarta Sans', sans-serif;
}

h2,
h3,
h4,
h5,
p {
    cursor: default;
}

h2 {
    display: inline;
    margin-left: 15px;
    color: #fff;
    margin-right: 8px;
    font-size: 18px;
    line-height: 23px;
    font-weight: bold;
    text-align: left;
    float: left;
}

h3 {
    font-size: 18px;
    font-weight: 700;
    line-height: 22.68px;
    color: #fff;
}

h4 {
    font-size: 15px;
    font-weight: 700;
    line-height: 19px;
    color: #fff;
    cursor: pointer;
    margin-bottom: 8px;
    transition: 0.1s;
}

h5 {
    font-weight: 700;
    font-size: 12px;
    line-height: 15.12px;
    letter-spacing: 2.4px;
    color: @MediumGrey;
    text-transform: uppercase;
    margin-bottom: 24px;

}

input,
textarea {
    border-radius: 4px;
    border: 1px solid rgba(130, 143, 163, 0.25);
    background-color: @DarkGrey;
    color: #fff;
    font-weight: 500;
    font-size: 13px;
    line-height: 23px;
    padding: 8px 16px 9px;
    width: 100%;
    outline: inherit;
    transition: 0.1s;
}

textarea {
    height: 112px;
    resize: none;
}

::placeholder {
    color: rgba(255, 255, 255, 0.25);
    opacity: 1;
}

:-ms-input-placeholder {
    color: rgba(255, 255, 255, 0.25);
}

::-ms-input-placeholder {
    color: rgba(255, 255, 255, 0.25);
}

button {
    font-weight: 700;
    font-size: 13px;
    line-height: 23px;
    padding: 9px;
    width: 100%;
    border: 0;
    border-radius: 20px;
    cursor: pointer;
    transition: 0.1s;
}

body {
    background-color: @VeryDarkGrey;
    height: 100vh;
}

.wrapper {
    height: 100%;
}

header {
    background-color: @DarkGrey;
    height: 64px;
    padding: 0 16px;
    display: flex;
    align-items: center;
    position: fixed;
    left: 0;
    right: 0;
    z-index: 1;
}

main {
    height: 100%;
}

.logo {
    img {
        vertical-align: bottom;
    }
}

.logo-dark,
.logo-light {
    display: none;
}

.add-task {
    height: 32px;
    width: 48px;
    margin-left: auto;
    line-height: 16px;
    padding: 10px 17px;

    span {
        display: none;
    }
}

.button-empty {
    border-radius: 24px;
    //  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    font-size: 13px;
    font-weight: bold;
    padding: 13px 17px;
    width: auto;
}

button.inactive {
    opacity: 0.25;
    pointer-events: none;
}

.button-primary {
    background-color: @MainPurple;
    color: #fff;
}

.button-secondary {
    background-color: #fff;
    color: @MainPurple;
}

.button-submit {
    margin-top: 24px;
}

.button-delete {
    color: #fff;
    background-color: @Red;
    margin-bottom: 16px;
    margin-top: 24px;
    transition: 0.1s;
}

.show-boards {
    margin-bottom: 4px;
    cursor: pointer;
}

.actions {
    margin-left: 16px;


    img {
        height: 16px;
    }
}

.empty-board {
    display: flex;
    flex-direction: column;
    align-items: center;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    visibility: hidden;

    p {
        font-weight: bold;
        font-size: 18px;
        line-height: 23px;
        text-align: center;
        color: @MediumGrey;
        width: 343px;
        margin-bottom: 30px;
    }
}

.board-container {
    padding: 16px;
    padding-top: 85px;
    display: flex;
    position: relative;
    height: 100%;
    box-sizing: border-box;
    overflow: auto;
}

.status-color {
    height: 15px;
    width: 15px;
    background-color: #49C4E5;
    display: inline-block;
    border-radius: 100%;
    margin-right: 12px;
    vertical-align: top;

}

.task {
    background-color: @DarkGrey;
    width: 280px;
    padding: 23px 16px;
    margin-bottom: 20px;
    margin-right: 24px;
    border-radius: 8px;
    box-shadow: 0px 4px 6px rgba(54, 78, 126, 0.1015);
    box-sizing: border-box;
    cursor: pointer;

}

.subtasks {
    color: @MediumGrey;
    font-weight: 700;
    font-size: 12px;
    line-height: 15.12px;
    cursor: pointer;
    transition: 0.1s;
}

.add-new-column {

    background-color: rgba(255, 255, 255, 0.01);
    border-radius: 6px;
    margin-top: 39px;
    position: sticky;
    top: 0;
    cursor: pointer;

    p {
        font-size: 24px;
        font-weight: bold;
        color: @MediumGrey;
        width: 280px;
        position: relative;
        top: 50%;
        transform: translateY(-50%);
        text-align: center;
        transition: 0.1s;
    }

}

.task-info-container,
.add-new-task-container,
.edit-task-container,
.add-new-board-container,
.edit-board-container,
.delete-board-container,
.delete-task-container,
.boards-dropdown-container {
    position: fixed;
    top: 0;
    left: 0;
    height: 100vh;
    width: 100vw;
    background-color: rgba(0, 0, 0, 0.45);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 2;
}

.boards-dropdown-container {
    display: block;
}


.task-info-container,
.add-new-task-container,
.edit-task-container,
.add-new-board-container,
.edit-board-container,
.delete-board-container,
.delete-task-container,
//.board-container,
.boards-dropdown-container,
    {
    display: none;
}

.task-info,
.add-task-info,
.edit-task-info,
.add-board-info,
.edit-board-info,
.delete-board-info,
.delete-task-info {
    background-color: @DarkGrey;
    border-radius: 6px;
    padding: 24px;
    margin: 16px;

}

.heading {
    position: relative;
    display: flex;
    padding-right: 24px;
    align-items: center;

    .actions {
        position: absolute;
        right: 0;

        img {
            height: 20px;
        }
    }

    .actions-dropdown {
        top: 60px;
        right: -100px;
    }
}

.delete-board-container,
.delete-task-container {
    h3 {
        color: @Red;
    }
}

.task-description,
.warning-message {
    p {
        font-size: 13px;
        font-weight: 500;
        line-height: 23px;
        color: @MediumGrey;
        margin-top: 24px;
    }

}

.input-heading {
    font-size: 12px;
    font-weight: 700;
    line-height: 15.12px;
    color: #fff;
    margin-bottom: 8px;
    margin-top: 24px;
    width: 100%;
}

.subtasks-num {
    margin-bottom: 16px;
}

.subtask {
    background-color: @VeryDarkGrey;
    border-radius: 4px;
    margin-top: 8px;
    padding: 13px 8px 16px 44px;
    position: relative;
    cursor: pointer;

    span {
        background-color: #fff;
        height: 14px;
        width: 14px;
        border-radius: 2px;
        position: absolute;
        left: 12px;
        top: 50%;
        transform: translateY(-50%);
        display: flex;
        justify-content: center;
        align-items: center;
        border: 1px solid rgba(130, 143, 163, 0.2489);

        img {
            height: 8px;
        }

    }

    p {
        color: #fff;
        font-size: 12px;
        font-weight: 700;
        line-height: 15.12px;
        cursor: pointer;
    }
}

.checked {
    span {
        background-color: @MainPurple;
    }

    p {
        opacity: 0.5;
        text-decoration: line-through;
    }
}

.status,
.add-status,
.edit-status {
    position: relative;
    margin-top: 24px;

}

.status-input {
    display: flex;
    position: relative;

    img {
        position: absolute;
        top: 18px;
        right: 15px;
        pointer-events: none;

    }

    input {
        cursor: pointer;

    }

}

.status-dropdown {
    position: absolute;
    background-color: @VeryDarkGrey;
    border-radius: 8px;
    width: 100%;
    margin-top: 5px;
    padding: 16px;
    padding-bottom: 0;
    box-sizing: border-box;
    display: none;

    ul {
        list-style: none;
    }

    li {
        color: @MediumGrey;
        font-size: 13px;
        margin-bottom: 16px;
        cursor: pointer;
        transition: 0.1s;
    }

}

.add-title,
.add-description,
.add-subtasks,
.edit-title,
.edit-description,
.edit-subtasks,
.add-board-name,
.add-board-columns,
.edit-board-name,
.edit-board-columns {
    display: flex;
    flex-wrap: wrap;
}

.add-subtasks,
.edit-subtasks,
.add-board-columns,
.edit-board-columns {
    div {
        width: 100%;
        display: flex;
        margin-bottom: 12px;
    }

    span {
        padding-left: 18px;
        padding-top: 12px;
        cursor: pointer;

        g {
            transition: 0.1s;
        }
    }

}

.boards-dropdown {
    background-color: @DarkGrey;
    border-radius: 8px;
    box-shadow: 4px 4px 20px rgba(54, 78, 126, 0.25);
    margin: 80px auto;
    width: 264px;

    h5 {
        padding-left: 24px;
        padding-top: 16px;
    }

    ul {
        margin-top: 19px;
        list-style: none;
        padding-right: 24px;
    }

    li {
        color: @MediumGrey;
        font-size: 15px;
        font-weight: 700;
        line-height: 18.9px;
        padding: 14px 24px;
        cursor: pointer;
        border-top-right-radius: 100px;
        border-bottom-right-radius: 100px;
        transition: 0.1s;

        span {
            margin-right: 12px;
            vertical-align: middle;


        }
    }
}

path {
    transition: 0.1s;
}

li.active {
    background-color: @MainPurple;
    color: #fff;


    path {
        fill: #fff;
    }

}

li.create-new-board {
    color: @MainPurple;

    path {
        fill: @MainPurple;
    }
}

.theme-switcher-container {
    padding: 15px;

    .theme-switcher {
        background-color: @VeryDarkGrey;
        border-radius: 6px;
        display: flex;
        justify-content: center;
        padding: 15px;
    }
}

.switch {
    border-radius: 12px;
    background-color: @MainPurple;
    width: 40px;
    height: 20px;
    display: block;
    margin: 0 20px;
    cursor: pointer;
    transition: 0.1s;

    span {
        display: block;
        border-radius: 100%;
        background-color: #fff;
        height: 14px;
        width: 14px;
        position: relative;
        top: 3px;
        left: 23px;
        transition: 0.1s;
    }
}

.actions-dropdown {
    position: absolute;
    width: 192px;
    background-color: @VeryDarkGrey;
    border-radius: 8px;
    right: 25px;
    top: 75px;
    display: none;

    ul {
        list-style: none;
        padding: 16px;
    }

    li {
        font-size: 13px;
        font-weight: 500;
        color: @MediumGrey;
        cursor: pointer;
        transition: 0.1s;
    }

    li:nth-of-type(2) {
        color: @Red;
        margin-top: 30px
    }
}



.light {
    background-color: @LightGrey;

    header {
        background-color: #fff;
    }

    h2,
    h3,
    h4 {
        color: #000;
    }


    .task,
    .task-info,
    .add-task-info,
    .edit-task-info,
    .add-board-info,
    .edit-board-info,
    .delete-board-info,
    .delete-task-info,
    .boards-dropdown,
    input,
    textarea {
        background-color: #fff;
    }

    .subtask {
        background-color: @LightGrey;

        p {
            color: #000;
        }
    }

    input {
        color: #000;
    }

    .subtasks-num,
    .input-heading {
        color: @MediumGrey;
    }

    .button-secondary {
        background-color: rgba(99, 95, 199, 0.1);
    }

    .theme-switcher {
        background-color: @LightGrey;
    }

    ::placeholder {
        color: rgba(0, 0, 0, 0.25);
        opacity: 1;
    }

    :-ms-input-placeholder {
        color: rgba(0, 0, 0, 0.25);
    }

    ::-ms-input-placeholder {
        color: rgba(0, 0, 0, 0.25);
    }

    .add-new-column {
        background-color: rgba(0, 0, 0, 0.02);
    }

    .actions-dropdown {
        background-color: #fff;
    }

    .status-dropdown {
        background-color: #fff;
    }
    
    .switch{
        span{
            left: 3px;
        }
    }

}

@media only screen and (min-width: 768px) {


    main.sidebar-show {
        padding-left: 261px;
    }

    h2 {
        font-size: 20px;
        margin-left: 24px;
        margin-top: 2px;
    }

    header {
        height: 80px;
        padding: 0 24px;
        border-bottom: 1px solid @LinesDark;
    }

    .logo-mobile {
        display: none;
    }

    .logo-light {
        display: block;
    }

    .logo {
        border-right: 1px solid @LinesDark;
        height: 100%;
        width: 176px;
        display: flex;
        align-items: center;

        img {
            height: 25.5px;
        }
    }

    .show-boards {
        display: none;
    }

    .actions {
        margin-left: 24px;
        cursor: pointer;

        img {
            height: 20px;
        }
    }

    .boards-dropdown {
        height: 100%;
        width: 100%;
        border-radius: 0;
        box-shadow: none;
        display: flex;
        flex-direction: column;

        h5 {
            padding-top: 32px;
            margin: 0;
        }
    }

    .theme-switcher-container {
        margin-top: auto;
    }

    .add-task {
        width: 164px;
        height: 48px;
        border-radius: 24px;

        img {
            display: none;
        }

        span {
            display: block;
            font-size: 15px;
            font-weight: normal;
        }
    }

    .boards-dropdown-container {
        display: block;
        margin-left: -261px;
        width: 260px;
        border-right: 1px solid @LinesDark;
        background-color: transparent;
    }

    header.sidebar-show {

        .logo {
            width: 236px;
        }

        .boards-dropdown-container {
            margin-left: 0;
        }

        .toggle-sidebar-container {
            border-top-right-radius: 100px;
            border-bottom-right-radius: 100px;
            transition: 0.1s;

            .toggle-sidebar {
                span:nth-of-type(2) {
                    display: none;
                }
            }
        }


    }

    .empty-board.sidebar-show {
        margin-left: 130px;
    }

    .toggle-sidebar-container {
        margin-bottom: 110px;
        padding: 15px;
        cursor: pointer;

        .toggle-sidebar {
            padding: 0 15px;

            svg {
                position: relative;
                top: 2px;

            }

            span {
                margin-left: 7px;
                color: @MediumGrey;
                transition: 0.1s;
            }

            span:nth-of-type(2) {
                width: 56px;
                height: 48px;
                position: absolute;
                right: -56px;
                background-color: @MainPurple;
                border-bottom-right-radius: 100px;
                border-top-right-radius: 100px;
                display: flex;
                justify-content: center;
                align-items: center;
                bottom: 30px;



                img {
                    top: 0;
                    left: -2px;
                }
            }
        }
    }

    .task-info,
    .add-task-info,
    .edit-task-info,
    .add-board-info,
    .edit-board-info,
    .delete-board-info,
    .delete-task-info {
        width: 480px;
        box-sizing: border-box;
        padding: 32px;
    }

    .buttons-container {
        display: flex;
        align-items: baseline;
        justify-content: space-between;

        button {
            width: 200px;
        }
    }

    .button-delete {
        margin-bottom: 10px;
    }

    .empty-board {
        p {
            width: 370px;
        }

    }

    .button-empty {
        font-size: 15px;
    }

    .board-container {
        padding-top: 105px;
    }

    .light {

        .logo {
            border-right: 1px solid @LinesLight;
        }

        .logo-light {
            display: none;
        }

        .logo-dark {
            display: block;
        }

        .boards-dropdown-container {
            border-right: 1px solid @LinesLight;
        }

        header {
            border-bottom: 1px solid @LinesLight;
        }
    }


}

@media only screen and (min-width: 1440px) {

    h2 {
        font-size: 24px;
        margin-left: 30px;
    }

    header {
        padding: 0 34px;
        height: 97px;
    }

    .logo {
        width: 180px;
    }

    header.sidebar-show {
        .logo {
            width: 266px;
        }

    }

    .boards-dropdown-container {
        width: 300px;
        margin-left: -301px;
    }

    .boards-dropdown {

        h5,
        li {
            padding-left: 32px;
        }

        li:hover {
            background-color: #fff;
            color: @MainPurple;

            path {
                fill: @MainPurple;
            }
        }
    }

    .theme-switcher-container {
        padding: 15px 24px;
    }

    main.sidebar-show {
        padding-left: 310px;
    }

    .empty-board.sidebar-show {
        margin-left: 150px;
    }

    .board-container {
        padding: 24px;
        padding-top: 120px;
    }

    .empty-board {
        p {
            width: 500px;
        }
    }

    .button-primary:hover {
        background-color: @MainPurpleHover;
    }

    .toggle-sidebar {
        span:nth-of-type(2):hover {
            background-color: @MainPurpleHover;
        }
    }

    .switch:hover {
        background-color: @MainPurpleHover;
    }

    .toggle-sidebar-container {
        width: 245px;
    }

    .toggle-sidebar-container:hover {

        background-color: #fff;

        .toggle-sidebar {
            span {
                color: @MainPurple;
            }

            path {
                fill: @MainPurple;
            }
        }
    }

    .task:hover {
        h4 {
            color: @MainPurple;
        }
    }

    .add-new-column:hover {
        p {
            color: @MainPurple;
            cursor: pointer;
        }
    }

    .actions-dropdown {
        li:hover {
            color: #fff;
        }

        li:nth-of-type(2):hover {
            color: @RedHover;
        }
    }

    .subtask:hover {
        background-color: rgba(99, 95, 199, 0.25);
    }

    input:hover,
    textarea:hover {
        border-color: @MainPurple;
    }

    .status-dropdown {
        li:hover {
            color: #fff;
        }
    }

    .add-subtasks,
    .edit-subtasks,
    .add-board-columns,
    .edit-board-columns {
        span:hover {
            g {
                fill: @Red;
            }
        }
    }

    .button-delete:hover {
        background-color: @RedHover;
    }

    .light {
        .boards-dropdown {
            li:hover {
                background-color: rgba(99, 95, 199, 0.1);
            }
        }

        .toggle-sidebar-container:hover {
            background-color: rgba(99, 95, 199, 0.1);
        }

        li:hover {
            color: #fff;
        }

        .actions-dropdown {
            li:nth-of-type(1):hover {
                color: rgba(130, 143, 163, 0.5);
            }
        }

        .status-dropdown {
            li:hover {
                color: rgba(130, 143, 163, 0.5);
            }
        }

        .button-secondary:hover {
            background-color: rgba(99, 95, 199, 0.26);
        }

    }

}
